<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2>Sorry! <%= pluralize(@user.errors.count,"mistake")%> prevented your account from being created:</h2>
		<p>Please correct the following <%= pluralize(@user.errors.count,"problem")%>:</p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<%end%>
		</ul>
	</div>
<%end%>